<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ConsolasExitoG61.App.Presentacion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Web Masters Consolas G9</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                         
                            @using Microsoft.AspNetCore.Http
                            @inject IHttpContextAccessor HttpContextAccessor
                            @if (@HttpContextAccessor.HttpContext.Session.GetString("usuarioAutenticado") != null
                            && @HttpContextAccessor.HttpContext.Session.GetString("usuarioAutenticado").Equals("ADMINISTRADOR_COMPRAS"))
                            {                       
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/CrudConsola/Index">Consolas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/CrudControl/Index">Controles</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/CrudVideoJuego/Index">Video Juegos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/CrudProveedor/Index">Proveedores</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Login/CerrarSesion">Cerrar Sesión</a>
                                </li>                                                
                        }
                        else if (@HttpContextAccessor.HttpContext.Session.GetString("usuarioAutenticado") != null
                        && @HttpContextAccessor.HttpContext.Session.GetString("usuarioAutenticado").Equals("ADMINISTRADOR_SISTEMA"))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/CrudEmpleado/Index">Empleados</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/CrudSucursal/Index">Sucursales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/CrudCliente/Index">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Login/CerrarSesion">Cerrar Sesión</a>
                        </li>

                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Web Masters Consolas G9 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
