@page
@model ConsolasExitoG61.App.Presentacion.Pages.CrudConsola.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Consolas</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-group">   
    <label>Busqueda por nombre:</label>
        <input type="text" name="Busqueda" value="@Model.Busqueda" />
        <input type="submit" value="Buscar" class="btn btn-primary"/>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NombreSort">
                @Html.DisplayNameFor(model => model.Consola[0].Nombre)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consola[0].Referencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consola[0].Marca)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.VersionSort">
                @Html.DisplayNameFor(model => model.Consola[0].Version)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consola[0].Fabricante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consola[0].TipoDisco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consola[0].Almacenamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consola[0].MemoriaRam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consola[0].PrecioCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consola[0].PrecioVenta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Consola) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fabricante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDisco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Almacenamiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemoriaRam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVenta)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-Id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-Id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-Id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
